@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(rgb(183, 183, 183), transparent);
}

.animation-scale {
    animation: animationSacle 1.5s ease-in-out;
}

.text-animation {
    animation: textAnimation 1.5s ease-in-out;
}

.animate-div{
    animation: animateDiv 1s ease-in-out;
}

@keyframes animationSacle {
    0% {
        transform: scale(10);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes textAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    99%{
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animateDiv {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

@media (max-width: 350px) {
    audio {
        width: 200px !important;
    }
}